.imagesection{
    width: 40%;
    height:77vh;
    display: flex;
    flex-direction: column;
}
.AddToCart{
    width: 100%;
    min-height:fit-content;
    height: 25vh;
}
.imagesection button{
    width:350px;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(248, 127, 83);
    margin-left: 35%;
}
.itemimage{
    width: 100%;
    height:70vh;
    display: flex;
   }
   .sideimage{
       width:80px;
       height: 100%;
       
   }
   .allsideview{
       width:100%;
       height:80px;
       margin-top: 3px;
       margin-right: 5px;
   }
   .allsideview img{
       width: 80px;
       height: 80px;
   }
   .mainimage{
      width: 85%;
      height:min-content;
   }
   .mainimage img{
       width: 100%;
       height:100%;
       transform: scale(1);
       transition: 1s ease-in-out;

   }
   .mainimage:hover img{
    transform:scale(1.5);
}

@media(max-width:700px){
   .imagesection{
    width: 100%;
    height:400px;
    gap:20px;
    margin-bottom: 50px;
   }
   .mainimage:hover img{
    transform: scale(1.1);
   }
   .allsideview img{
    width: 70px;
    height: 70px;
   }
   .allsideview{
    width:100%;
    height:70px;
    margin-top: 3px;
    margin-right: 5px;
  }
  .AddToCart{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    
  }
  .AddToCart button{
    width:200px;
    margin: 0;
    padding: 0;
    background-color: rgb(43, 209, 25);
    border-radius: 15px;
  }
}