.ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
    align-items: center;
}
.img{
    margin-left: 4rem;    
}
.img img{
    width:20rem;
    height:20rem; 
    border-radius: 2rem;
}
.title{
    height:100%;
    width:18rem;
    left:25%;
}
.price{
    font-size: 4rem;
    margin-left: 5rem;
}
.quantity{
    border: 1px solid rgb(0, 187, 255);
    height:7rem;
    width: 10rem;
    text-align: center;
    font-size: 4rem;
    margin-left: 8rem;
    margin-right: 2rem;
}
.remove{
    margin-right: 5rem;
}
.remove button{
    width:18rem;
    height:7rem;
    border-radius: 1rem;
    color: white;
    background-color:rgb(217, 78, 78);
    font-size: 3rem;
    font-weight: bold;
    border: none;
}

.border{
    list-style: none;
    width: 100%;
}
.line1{
    background-color: black;
    height: 3px;
    width:43rem;
    margin-left:3rem ;
    float: left;
}
.line2{
    background-color: black;
    height: 3px;
    width:15rem;
    margin-left:50rem ;
}
.line3{
    background-color: black;
    height: 3px;
    width:40rem;
    margin-left:70rem ;
}