.footer{
   position:relative;
   bottom: 0;
   width:100vw;
   height: 130px;
   background-color: rgb(42, 184, 232);
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   z-index: 0;
}
.generics{
    width:fit-content;
    font-size:40px;
    color: white;
    margin-right: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    float: left;
}
.logos{
    width:fit-content;
    height:100%;
    margin-left: 5%;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content:space-evenly;
    
}


