.header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    min-width:100vw;
    height: 60px;
    background-color: black;
    color:white;
    display:flex;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
    border-bottom: 0.2rem solid white;
    
}
.logo{
    width: 30%;
    height: 100%;
    text-align: center;
    color:aqua;
}
.pages{
    width:35%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pages a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.authbutton{
    width: 30%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login{
    width:110px;
    height: auto;
    margin-right: 5px;
}
.login a{
    width:90px;
    height: 35px;
    text-decoration: none;
    background-color: black;
    color:aqua;
    font: 18px;
}
.cart{
    width:110px;
    height: auto;
    margin-right: 5px;
}


.generics{
    margin-top: 50px;
    width:100vw;
    height:150px;
    background-color: gray;
    color: white;
    display: grid;
    justify-content: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;

}
.generics h2{
    font-size: 75px;
    margin-top: 10px;
}

