.section{
   width:55%;
   height: auto;
   margin:auto;
   z-index: 0;
}
.section h2{
    font-family:cursive;
    text-align: center;
    padding: 20px;
    font-size: 8rem;
    
}
.items{
    display:flex;
    flex-wrap: wrap;
    
}
