.form{
   width: 80%;
   height:fit-content;
   border:5px groove aqua;
   margin: auto;
   margin-bottom: 20px;
}
.form form{
    width: 70%;
    margin: auto;
    padding-top: 20px;
}
.form label{
   font-size: 17px;
   font-weight: bold;
}
.title{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border:1px solid gray;
    margin-bottom: 10px;
}
.text{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border:1px solid gray;
    margin-top: 3px;
    margin-bottom: 10px;
}
.date{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    border:1px solid gray;
}
.submit{
    background-color: aqua;
    width:110px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    margin:10px 40%;
    margin-bottom: 20px;
}
@media(max-width:700px){
   .form{
    width: 100%;
   }
   .form form{
    width: 80%;
   }
}