.tours{
    width:100%;
    min-height:32px;
    height: fit-content;
    display: flex;
    align-items: center;
}
.tours ul{
    list-style: none;
    font-size: 15px;
    display: flex;
    width:70%;
    justify-content: space-between;
    
}
.date{
    font-family: monospace;
    width:86px;
    margin-left: 11px;

}
.text{
    font-family: 'Times New Roman', Times, serif;
    color:gray;
    width: 200px;
    margin-left: 3%;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(28, 182, 243);
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    margin-left: 3%;
    
}
.tours button{
    width:160px;
    min-height: 28px;
    height:fit-content;
    border-radius: 1px;
    font-size: 15px;
    font-weight:bold ;
    color: white;
    background-color: rgba(0, 191, 255, 0.818);
    border:none;
    margin-left: 3%;
   
}


@media(min-width:300px) and (max-width:700px){
    .tours ul{
        flex-direction: column;
        gap:10px;
        justify-content: center;
    }
}