.tours{
    width:100%;
    min-height:12rem;
    height: fit-content;
    display: flex;
    align-items: center;
}
.tours ul{
    list-style: none;
    font-size: 4rem;
    display: flex;
    width:70%;
    justify-content: space-between;
    
}
.date{
    font-family: monospace;
    width:26rem;
    margin-left: 11rem;

}
.place,
.address{
    font-family: 'Times New Roman', Times, serif;
    color:gray;
    width: 40rem;
    margin-left: 10%;
}
.tours button{
    width:40rem;
    height:8rem;
    border-radius: 1rem;
    font-size: 3.5rem;
    font-weight:bold ;
    color: white;
    background-color: rgba(0, 191, 255, 0.818);
    border:none;
    margin-left: 8%;
   
}